<div class="top">
  <div class="logosearch">
    <img id="top" class="logo" src="../../assets/logo1.png" width="50px" height="50px" alt="По идеи, тут должна быть моя фотка, но видимо у Вас что-то с интернетом :D" />
    <b class="beautyeditscom">BeautyEdits.com</b>
    <input class="search" id="search" type="text" name="search" placeholder="Поиск" maxlength="1000">
    <input class="searchbutton" id="searchbutton" type="submit" value="Искать">
  </div>
  <div class="regbutton">
    <button class="reg signin"><a class="acherni" routerLink="/reg">Sign in</a></button>
    <button class="reg login"><a class="acherni" routerLink="/reg">Log in</a></button>
  </div>
</div>
<nav class="topmenu">
  <a class="nav" routerLink="/home">Главная</a>
  <a class="nav" routerLink="/subs">Подписки</a>
  <a class="nav" routerLink="/account">Публикации</a>
  <a class="nav" href="#top">Наверх</a>
</nav>
<router-outlet></router-outlet>