<div class="header">
  <div class="blocks block1">
    <h2 class="substitle"><b>Каналы с новыми публикациями:</b></h2>
    <div class="subs">
      <img class="avatar" src="https://yt3.ggpht.com/aOD-1dzbJ4aiIGHdlPD8wthnL5Z8JxeVj9sAepq7AEp5XJfMD7Velfqc1Bz6bVOmj3urldCYYA=s176-c-k-c0x00ffffff-no-rj-mo" alt="">
      <img class="avatar" src="https://yt3.ggpht.com/ytc/AKedOLSnkko-26iJCHKBYnqVJV2JrCvbtYLl1q34sMXs5g=s176-c-k-c0x00ffffff-no-rj-mo" alt="">
      <img class="avatar" src="https://yt3.ggpht.com/ytc/AKedOLSUb-IgwU1whgAKENghT0Otxm7b-igqTlYrg6OI7w=s176-c-k-c0x00ffffff-no-rj-mo" alt="">
      <img class="avatar" src="https://yt3.ggpht.com/ytc/AKedOLQFl5ZvgBe9uGCVrX8FueJonhggYia0r2r2XOVLlFY=s176-c-k-c0x00ffffff-no-rj-mo" alt="">
      <h4 class="subsnickname">Soccer AM</h4>
      <h4 class="subsnickname">Tech Radar</h4>
      <h4 class="subsnickname">Pocketnow</h4>
      <h4 class="subsnickname">Button Poetry</h4>
      <h5 class="subscount">11,8 млн подпищиков</h5>
      <h5 class="subscount">8 млн подпищиков</h5>
      <h5 class="subscount">5,2 млн подпищиков</h5>
      <h5 class="subscount">3,4 млн подпищиков</h5>
    </div>
  </div>
  <div class="blocks block1">
    <h2 class="substitle"><b>Ваши подписки:</b></h2>
    <div class="subs">
      <img class="avatar" src="https://yt3.ggpht.com/ytc/AKedOLSEk-KkCSG0Ejayfd0kBJncEvwsJgWmY0cKFCk1Dp4=s176-c-k-c0x00ffffff-no-rj-mo" alt="">
      <img class="avatar" src="https://yt3.ggpht.com/ytc/AKedOLQqbs0_piPMHVj5fBjE2NIMy9PiGzy0DeCJI910XA=s176-c-k-c0x00ffffff-no-rj-mo" alt="">
      <img class="avatar" src="https://yt3.ggpht.com/TkwJQBfOe-sI_sws8ON0ddevuxmbYQ4Ya-n54eLyTu-1BVjBMtbi6kBYv_DsaS8lf-Q1RCjC=s176-c-k-c0x00ffffff-no-rj-mo" alt="">
      <img class="avatar" src="https://yt3.ggpht.com/ytc/AKedOLSCDhBmti0r957r0s73Y8R6M3b-2fSwBm3SFmJ35w=s176-c-k-c0x00ffffff-no-rj-mo" alt="">
      <h4 class="subsnickname">Delish</h4>
      <h4 class="subsnickname">CinemaSins</h4>
      <h4 class="subsnickname">Screen Junkies</h4>
      <h4 class="subsnickname">Slcmof</h4>
      <h5 class="subscount">12,6 млн подпищиков</h5>
      <h5 class="subscount">11,8 млн подпищиков</h5>
      <h5 class="subscount">9,5 млн подпищиков</h5>
      <h5 class="subscount">7,4 млн подпищиков</h5>
    </div>
    <div class="subs">
      <img class="avatar" src="https://yt3.ggpht.com/0kBOZZtiYMo1SHTMCofKsve0VV6DsTcDWKA5YpnqXsKugnwV3RkasCDjc4b0bo2ELE6yX9RetA=s176-c-k-c0x00ffffff-no-rj-mo" alt="">
      <img class="avatar" src="https://yt3.ggpht.com/XRLVNlIUXMZH7yKgWwCuf_83vxE6BD181zjlOjqmptWrkq4X3U3-TDdjwdwQp9et5aDC8weacw=s176-c-k-c0x00ffffff-no-rj-mo" alt="">
      <img class="avatar" src="https://yt3.ggpht.com/ytc/AKedOLQFl5ZvgBe9uGCVrX8FueJonhggYia0r2r2XOVLlFY=s176-c-k-c0x00ffffff-no-rj-mo" alt="">
      <img class="avatar" src="https://yt3.ggpht.com/ytc/AKedOLT7nQ8_n6ZZiMiKZlAxsoEuIL5FeY7vn6YMEyLOJQ=s176-c-k-c0x00ffffff-no-rj-mo" alt="">
      <h4 class="subsnickname">Logo</h4>
      <h4 class="subsnickname">AwesomenessTV</h4>
      <h4 class="subsnickname">Button Poetry</h4>
      <h4 class="subsnickname">MarzBarVlogs</h4>
      <h5 class="subscount">5,6 млн подпищиков</h5>
      <h5 class="subscount">4,9 млн подпищиков</h5>
      <h5 class="subscount">3,4 млн подпищиков</h5>
      <h5 class="subscount">3,7 млн подпищиков</h5>
    </div>
  </div>
  <div class="blocks block2">
    <h2><b>Популярные публикации:</b></h2>
    <div class="posts">
      <div class="userpublicate">
        <div class="avatarpublicatediv">
         <img class="avatarpublicate" src="https://icdn.lenta.ru/images/2021/04/27/16/20210427163138131/square_320_c09ebae17387b7d6eeb9fa0d42afe5ee.jpg" alt="">
        </div>
        <div class="usernamepublicate">
          <h3 class="usernamepublicate">TheFirstUser</h3>
          <div class="datepublicate">
            <h6>1 day ago</h6>
          </div>
        </div>
      </div>
      <div class="imgpublicate">
        <img class="post" src="https://sun9-81.userapi.com/impg/Ldn20aSD27PDyg1J8gytF5JRF6sQdT1AXeb0pA/PhoCZqfJS54.jpg?size=1280x716&quality=95&sign=50d7b364a360cdad4084f5ca2096dc51&type=album" />
        <!-- <img class="post" src="https://sun9-54.userapi.com/impg/NeUw38toMslPuFL-Oq08vSiyLSkBqkGCoYfKyg/Diom1CJP-q0.jpg?size=1080x608&quality=95&sign=f1703f551911fd75c41b6e82bbc22f9b&type=album" width="320px" height="180px" /> -->
      </div>
    </div>
  </div>
  <div class="blocks block3">
    <h2><b>Последние новости:</b></h2>
    <ul>
      <li><h3>Сегодня на сайт поступили первые работы. Ура!</h3></li>
      <li><h3>Создано то, что вы сейчас видите.</h3></li>
      <li><h3>Сверху было достаточно.</h3></li>
    </ul>
  </div>
  <hr >
  <div class="contactusdiv">
    <a class="acontactus" routerLink="/contactus">Связаться с Нами</a>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
  <script>anchors.add();</script>
</div>