.trend {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
	height: 170px;
}
.trends {
  border-radius: 10px;
  max-width: 230px;
	height: 170px;
	width: 100%;
	box-shadow: 0 0 3px #000;
}
.contactusdiv {
  display: grid;
  height: 22px;
  width: 150px;
}
.acontactus {
  color: #000000;
  text-decoration: none;
  padding: 1px 0 4px 8px;
}
.acontactus:hover {
  background-color: rgb(199, 199, 199);
  border-radius: 5px;
}