<div class="header">
  <div class="blocks block1">
    <h2><b>Сегодня в тренде:</b></h2>
    <div class="trend">
      <img class="trends trend1" src="https://www.ixbt.com/img/n1/news/2021/10/2/22459ff25f8eff76bddf34124cc2c85b16f4cd4a_large.jpg" alt="">
      <img class="trends trend2" src="https://static9.depositphotos.com/1594308/1110/i/600/depositphotos_11107478-stock-photo-fantasy.jpg" alt="">
      <img class="trends trend3" src="https://avatars.mds.yandex.net/i?id=0eaa142d7202ac9bbd26ac279e7ae159_l-4898876-images-thumbs&n=27&h=384&w=480" alt="">
      <img class="trends trend4" src="https://i.pinimg.com/736x/ab/f0/e5/abf0e5f8791d23fcc4d4fcebcaf027a4.jpg" alt="">
    </div>
    <h3>Надписи и тексты для оформления соцсетей, баннеров, фотографий и каналов youtube и twitch</h3>
  </div>
  <div class="blocks block2">
    <h2><b>Популярные публикации:</b></h2>
    <div class="posts">
      <div class="userpublicate">
        <div class="avatarpublicatediv">
         <img class="avatarpublicate" src="https://icdn.lenta.ru/images/2021/04/27/16/20210427163138131/square_320_c09ebae17387b7d6eeb9fa0d42afe5ee.jpg" alt="">
        </div>
        <div class="usernamepublicate">
          <h3 class="usernamepublicate">TheFirstUser</h3>
          <div class="datepublicate">
            <h6>1 day ago</h6>
          </div>
        </div>
      </div>
      <div class="imgpublicate">
        <img class="post" src="https://sun9-81.userapi.com/impg/Ldn20aSD27PDyg1J8gytF5JRF6sQdT1AXeb0pA/PhoCZqfJS54.jpg?size=1280x716&quality=95&sign=50d7b364a360cdad4084f5ca2096dc51&type=album" />
        <!-- <img class="post" src="https://sun9-54.userapi.com/impg/NeUw38toMslPuFL-Oq08vSiyLSkBqkGCoYfKyg/Diom1CJP-q0.jpg?size=1080x608&quality=95&sign=f1703f551911fd75c41b6e82bbc22f9b&type=album" width="320px" height="180px" /> -->
      </div>
    </div>
  </div>
  <div class="blocks block3">
    <h2><b>Последние новости:</b></h2>
    <ul>
      <li><h3>Сегодня на сайт поступили первые работы. Ура!</h3></li>
      <li><h3>Создано то, что вы сейчас видите.</h3></li>
      <li><h3>Сверху было достаточно.</h3></li>
    </ul>
  </div>
  <hr >
  <div class="contactusdiv">
    <a class="acontactus" routerLink="/contactus">Связаться с Нами</a>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
  <script>anchors.add();</script>
</div>