<div class="header">
    <div class="blocks block4">
        <h2><b>Как с Нами связаться?</b></h2>
        <h3>По все вопросам и предложениям вы можете написать нам во 
        <a class="pochta" target="_blank" href="https://vk.com/mrtreazzy">ВКонтакте</a>
        или на нашу почту
        <a class="pochta" target="_blank" href="https://lentik.vadik@gmail.com">lentik.vadik@gmail.com</a>.
        </h3>
    </div>
    <div class="blocks block5">
        <h2>Обратная связь:</h2>
        <h3>Написать отзыв:</h3>
        <textarea class="textarea" placeholder="Отзыв..." name="message" id="textarea"></textarea>
        <div class="submitdiv">
            <hr >
            <input type="radio" value="Плохо" />Ужасно<br />
            <input type="radio" value="Такое себе" />Средне<br />
            <input type="radio" value="Норм" />Хорошо<br />
            <input type="radio" value="Отлично" />Гениально!
            <hr >
            <input type="submit" class="registerbtn" value="Отправить" />
        </div>
    </div>
</div>