/* You can add global styles to this file, and also import other style files */
html {
  /* background-image: url(https://oir.mobi/uploads/posts/2021-03/1616609082_40-p-priyatnii-fon-dlya-glaz-45.png); */
  background-color: rgb(228, 230, 233);
  font-family: 'Supermercado One', cursive;
}
html, body {
	margin: 0;
}
.header {
  display: grid;
  grid-template-columns: 70%;
  justify-content: center;
  margin: 0 0 2% 0;
}
h2 {
  color:rgb(0, 141, 132);
  text-shadow: 0 0 1px #000000;
  margin: 25px 0 20px 0;
  font-size: 27px;
}

/*---Посты есть почти на всех вкладках---*/
.posts {
  display: grid;
  box-shadow: 0 0 7px #000000;
  border-radius: 10px;
  background-color: #ffffff;
  width: 67%;
	padding: 0 3%;
}
.post {
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 90%;
  width: 100%;
	box-shadow: 0 0 5px #001b36;
}
.userpublicate {
  display: grid;
  grid-template-columns: 1fr 7fr;
}
.avatarpublicate {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-top: 15px;
}
.usernamepublicate {
  margin: 20px 0 0 0;
	text-shadow: 0 0 1px #000;
}
h6 {
  margin: 0;
}

